{% extends "base.html" %}
{% load wagtailimages_tags blog_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="slider">
  <ul class="slides blue">
    {% for tagline in page.taglines.all %}
    <li {% if forloop.first %}class='active' style='opacity:1'{% endif %}>
        {% image tagline.cover original %}
      <div class="caption center-align">
        <h3>{{ tagline.title }}</h3>
        <h5 class="light grey-text text-lighten-3">
          {{ tagline.body|safe }}
        </h5>
        {% if tagline.read_more_page %}
        <a class='btn blue' href='{{ tagline.read_more_page.url }}'>Lees meer</a>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<div class='container'>
  <div class='row flow-text'>
    <h1>{{ page.about_title }}</h1>
    <div class='flow-text '>
    {{ page.about|safe }}
    </div>
  </div>
  <div class='row'>
    {% for feature in page.features.all %}
    <div class='col l4 m12 s12'>
      <div class='card indigo darken-4 white-text'>
        <div class='card-image'></div>
        <div class='card-content'>
          <span class='card-title'>{{ feature.title }}</span>
          <p>{{ feature.body|safe }}</p>
        </div>
        {% if feature.read_more_page %}
        <div class='card-action blue darken-4'>
          <a class='white-text' href='{{ feature.read_more_page.url }}'>Lees meer</a>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class='row'>
    <div class='card'>
      <div class='card-image'></div>
      <div class='card-content'>
        <span class='card-title'>Laatste artikelen</span>
        {% list_blogs %}
      </div>
    </div>
  </div>
</div>
{% if page.contact_form %}
<div class="contact-form-container blue lighten-2 white-text">
  <div class="container">
    <div class="flow-text">{{ page.contact_form.intro|safe }}</div>
    <div class="card">
      <div class="card-content black-text">
        <form action="{{ page.contact_form.url }}" class='ajax-form' method="POST">
          {% csrf_token %}
          <div class='ajax-form-snippet' data-url='{{ page.contact_form.url }}'>
            <div class="progress blue lighten-4">
              <div class="indeterminate blue"></div>
            </div>
          </div>
          <button class="btn submit-btn">{{ page.contact_form.submit_text }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
