{% extends request.is_ajax|yesno:"forms/ajax_form_base.html,forms/form_base.html" %}
{% load form_tags %}
{% block form-content %}
{% if not request.is_ajax %}
{{ page.intro|safe }}
<form action="{{ page.url }}" class='{{ form_class }}' method="POST">
  {% csrf_token %}
{% endif %}
{% for field in form %}
  <div class="input-field black-text">
    {% if field|is_field_type:'text' %}
    <input {% if field.auto_id %}id="{{ field.auto_id }}"{% endif %}
      name="{{ field.name }}"
      class='flow-text'
      type="text">
    {% elif field|is_field_type:'email' %}
    <input {% if field.auto_id %}id="{{ field.auto_id }}"{% endif %}
      name="{{ field.name }}"
      class='flow-text'
      type="email">
    {% else %}
      {{ field }}
    {% endif %}
    <label for='{{ field.id_for_label }}'>
      {% if field.help_text %}
        {{ field.help_text }}
      {% else %}
        {{ field.label }}
      {% endif %}
    </label>
    {% for error in field.errors %}
    <div class='form-field-error'><i class='material-icons left'>error_outline</i>{{ error }}</div>
    {% endfor %}
  </div>
{% endfor %}
{% if not request.is_ajax %}
  <button class="btn submit-btn">{{ page.submit_text }}</button>
</form>
{% endif %}
{% endblock %}
