.template-standardpage .container.main-content {
  margin-top: -300px;
  padding-top: 50px;
}

.template-standardpage .page-background {
  height: 300px;
}

.template-standardpage article .card-header {
  margin-bottom: 30px;
}

.template-standardpage article .card-title {
  padding: 10px;
  font-size: 40px;
}

.template-standardpage article .card-header {
  margin-bottom: 30px;
}

.template-standardpage article .card-title {
  padding: 10px;
  font-size: 40px;
}


.template-standardpage article .block-image img {
  max-width: 100%;
}

.template-standardpage article .block-heading {
  font-size: 2rem;
  line-height: 110%;
  margin: 0.82rem -20px 0.656rem -20px;
  font-weight: 400;
  padding: 20px;
}

.template-standardpage article section {
  margin-bottom: 10px;
}

.template-standardpage article section h2 {
  font-size: 120%;
  padding: 10px;
  background-color: #ccc;
}

.template-standardpage article section h3 {
  font-size: 110%;
  font-weight: 400;
}

.template-standardpage article section h4 {
  font-size: 100%;
  color: gray;
}

.template-standardpage article section h5 {
  font-size: 100%;
  font-style: italic;
}

.template-homepage .slider .caption a.btn {
  margin-bottom: 20px;
}

.template-homepage .flow-text h1 {
  font-size: 250%;
}

.template-homepage .contact-form-container {
  padding: 10px 0 20px 0;
}

.template-homepage .contact-form-container .submit-btn {
  background-color: #64B5F6 !important;
  color: white;
}

.template-homepage .contact-form-container .form-field-error {
  display: block;
  padding: 5px;
  margin: -7px 0 7px 10px;
  background-color: #ef9a9a;
  color: white;
}

.template-homepage .flow-text .col .card-content p {
  font-size: 80%;
  margin-top: 10px;
}

.template-homepage .flow-text .col .card-content .card-title {
  font-size: 110%;
}
